/* Global styles */
* {
  margin: 0;
  padding: 0;
  font-family: Merienda One;
  box-sizing: border-box;
}



/* Body styles */
body, html {
  background-image: linear-gradient(to right, #092148 0%, #5bb981 51%, #0f5ee1 100%);
  background-size: cover;
  height: 100%;
  text-align: center;
  transition: 0.5s all linear;
  overflow-x: hidden;
}

.container{
  display: flex;
  position: relative;
  padding: 20px 0;
}
/* Main heading style */
h1  {
  font-family: Monoton;
  font-size: 5.9em;
  text-transform: capitalize;
  background-image: linear-gradient(to right, #092148 0%, #5bb981 51%, #0f5ee1 100%);

}


.num-group, .color {
  padding: 100px 30px 100px 10px;
  clip-path: polygon(100% 0, 86% 100%, 0 100%, 0 0);
  width: 50%;
  background: #0a2249;
  position: relative;
}


.color {
  right: 0;
  background: #1464db;
}

.color, .rotat-fix {
  transform: rotate(180deg);
}

h2{
  margin: 1em;
  text-transform: capitalize;
}


/* input feilds type number styles */
input[type=number] {

}


/* submit button styles */
.btn {
  padding: 30px;
  border: none;
  outline: none;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto ;
  color: white;
  border-radius: 10px;
  background-image: linear-gradient(to right, #092148 0%, #5bb981 51%, #0f5ee1 100%);
}

/* submit button hover style */
.btn:hover {
  background-position: right center;
}

/* table elements styles */

.button-group,
.grid h2,
span {
  padding: 0 4em 0 0;;
}

table,
tr,
td  {
  border: 1px solid #0000004d;
  background: #ffffff5c
}

table  {
  border-collapse: collapse;
  margin: 0 auto;
}

tr  {
  height: 20px;
}

td  {
  width: 20px;
}